<main>
    <div class="create-form">
        <form action="/create-blog-post" method="POST">
            <input type="text" name="title" placeholder="Title" required>
            <textarea name="contents" placeholder="Description" required class="large-textarea"></textarea>
            <button type="submit">Create Blog Post</button>
        </form>
    </div>
</main>