<div style="text-align: center; font-size: 25px; padding: 10px;">Open Blogs:</div>

{{!-- <body class="container-blogs"> --}}
    {{#each blogPosts as |blogPost|}}
    {{> blogPost-details}}
    {{/each}}
{{!-- </body> --}}