
/* body {
font-family: Courier New, monospace;
background-color: black;
}; */

body::before {
content: " ";
display: block;
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
z-index: 2;
background-size: 100% 2px, 3px 100%;
pointer-events: none;
};

#q, button {
color: #00ff00;
background-color: black;
border: 1px solid #00ff00;
font-family: inherit;
};

button {
color: #00ff00 !important;
text-decoration: underline !important;
};

.container {
margin: 0 auto 0;
};

nav .links a {
color: #00ff00;
};

nav {
margin-top: 2px;
background: none;
background-color: black;
border: 2px dotted #00ff00;
border-bottom: none;
};

nav .links {
background-color: black;
border: 2px solid #00ff00;
};

.container-main {
background: black;
color: #00ff00;
border-left: 2px dotted #00ff00;
border-right: 2px dotted #00ff00;
};

.container-header {
color: #00ff00 !important;
background: none;
background-color: black !important;
border: 2px solid #00ff00 !important;
};

#comments {
border-bottom: 2px dotted #00ff00;
};

.details-table, td {
border: 1px solid #00ff00;
border-collapse: collapse;
};

footer {
background: black;
border: 2px dotted #00ff00;
};

footer p {
color: #00ff00 !important;
};

